body{
    margin: 0;
    background: #d2dbdc;
    display: flex;
    align-items: center;
    height: 100vh;
}
/*.main*/
.main{
    margin: auto;
    box-shadow: 0px 0px 20px gray;
    background: transparent;
    border-radius: 10px;
    border: -20px;
    position: relative;
}
.main__item{
    width: 150px;
    height: 150px;
    background: #518abb;
    cursor: pointer;
    font-size: 50px;
    color: #fff;
}
.main__icon{
    display: none;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.refresh*/
.refresh{
    display: flex;
    position: absolute;
    top: 10px;
    right: 90px;
    font-size: 50px;
    color: #518abb;
    cursor: pointer;
    z-index: 100;
}

/*.space*/
.space{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 30;
    display: none;
    justify-content: center;
}
.line{
    position: absolute;
    z-index: 50;
    height: 5px;
    background: red;
}
/*.popup*/
.popup{
    height: 50px;
    background: yellowgreen;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 10%;
    visibility: hidden;
    text-align: center;
    cursor: context-menu;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show_pop {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* Add animation (fade in the popup) */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*.score*/
.walk{
    width: 200px;
    background: #518abb;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}