body{
    color: #fff;
    font-size: 25px;
    background: #1F2667;
    background: -webkit-linear-gradient(-85deg, #1F2667 0%, #8A0207 30%);
    min-height: 110vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
    background: #1F2667;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1F2667; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}
.header__logo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
}
.content__item{
    width: 300px;
    height: 100px;
    position: relative;
    margin: 10px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 10px 30px 20px 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__img{
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: all .2s linear;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}
.content__item:hover .content__img{
    width: 110%;
    opacity: 1;
}
.content__title{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 10px black;
    padding-left: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}